In [28]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-11 19:48:21,-23.1203,-134.9692,77.54,81,6,20.42
1,1,Lebu,CL,2022-05-11 19:46:59,-37.6167,-73.6500,57.02,69,100,4.29
2,2,Bambous Virieux,MU,2022-05-11 19:49:29,-20.3428,57.7575,75.45,88,40,4.61
3,3,Coihaique,CL,2022-05-11 19:49:08,-45.5752,-72.0662,47.01,76,0,0.00
4,4,Mar Del Plata,AR,2022-05-11 19:49:30,-38.0023,-57.5575,57.22,74,0,12.66

In [3]:
# Configure gmaps to use your Google API key.

gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature

# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.

max_temp = city_data_df["Max Temp"]

# Assign the figure variable.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity

locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent Windy

locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [33]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-05-11 19:48:21,-23.1203,-134.9692,77.54,81,6,20.42
2,2,Bambous Virieux,MU,2022-05-11 19:49:29,-20.3428,57.7575,75.45,88,40,4.61
6,6,Bartica,GY,2022-05-11 19:49:31,6.4000,-58.6167,89.92,65,90,5.53
13,13,Bengkulu,ID,2022-05-11 19:49:34,-3.8004,102.2655,77.83,89,81,10.89
14,14,Kapaa,US,2022-05-11 19:49:34,22.0752,-159.3190,80.58,80,75,18.41
15,15,Victoria,HK,2022-05-11 19:48:40,22.2855,114.1577,80.65,92,100,15.01
17,17,Kaduqli,SD,2022-05-11 19:49:35,11.0167,29.7167,89.19,36,96,3.24
19,19,Senneterre,CA,2022-05-11 19:49:35,48.3835,-77.2328,75.33,47,44,4.65
22,22,Souillac,MU,2022-05-11 19:49:36,-20.5167,57.5167,75.58,88,40,4.61
27,27,Papetoai,PF,2022-05-11 19:49:38,-17.4961,-149.8729,81.99,76,0,18.50

In [34]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Rikitea      PF     77.54 -23.1203 -134.9692
2   Bambous Virieux      MU     75.45 -20.3428   57.7575
6           Bartica      GY     89.92   6.4000  -58.6167
13         Bengkulu      ID     77.83  -3.8004  102.2655
14            Kapaa      US     80.58  22.0752 -159.3190
15         Victoria      HK     80.65  22.2855  114.1577
17          Kaduqli      SD     89.19  11.0167   29.7167
19       Senneterre      CA     75.33  48.3835  -77.2328
22         Souillac      MU     75.58 -20.5167   57.5167
27         Papetoai      PF     81.99 -17.4961 -149.8729

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.54,-23.1203,-134.9692,People ThankYou
2,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
6,Bartica,GY,89.92,6.4000,-58.6167,Sloth Island Nature Resort
13,Bengkulu,ID,77.83,-3.8004,102.2655,Grage Hotel Bengkulu
14,Kapaa,US,80.58,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
15,Victoria,HK,80.65,22.2855,114.1577,Mini Central
17,Kaduqli,SD,89.19,11.0167,29.7167,Nussyba
19,Senneterre,CA,75.33,48.3835,-77.2328,Motel Senabi
22,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
27,Papetoai,PF,81.99,-17.4961,-149.8729,Fare Vaihere

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]